%table
  - @times.each do |t|
    - major_class = t.major? ? 'major' : nil
    - original_class = t.timezone_code == @original_time.timezone_code ? 'original' : nil
    %tr{:id  => t.timezone_code.gsub('+', 'p'), :class => "tz_time #{major_class} #{original_class}"}
      %td.identifier
      %td.timezone
        = t.timezone.gsub('_', '&nbsp;').gsub(/\/.+\//, '/')
      %td.date
        = t.time.strftime('%a %b %d, %Y')
      %td.time
        = t.time.strftime('%H:%M')
  %tr.all_timezones
    %td
    %td
      %a{:href => '#', :onClick => "show_all()"} Show all timezones


#time_input
  %p= haml :index, :layout => false
